.card {
  width: 200px;
  height: 80%;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 5px 30px 0 rgba(112, 115, 197, 0.197);
  background: url(../../images/bg1.jpg) no-repeat center;
  background-size: cover;
  margin: 10px;
  border: none;
}
.card button {
  width: fit-content;
  color: var(--TextBlue);
  background-color: #cdcd;
  font-size: 15px;
  font-weight: 600;
  border: none;
  transition: all 0.5s;
  padding: 10px 20px;
}
.card:hover button{
  background-color: var(--TextBlue);
  color: white;
}
.card h3 {
  color: var(--TextBlue);
  font-weight: 600;
  font-size: 25px;
}
.card p {
  font-size: 12px;
}
.card .bis {
  width: fit-content;
  font-size: 30px;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  padding: 15px 20px;
  margin: 15px 0;
  color: var(--TextBlue);
}

.card:hover .bis {    
  animation: vibration 0.1s 3 linear;
}


@keyframes vibration {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(3px);
    }
    100% {
      transform: translateX(0px);
    }
  }

